body {
  box-sizing: border-box;
  background-color: #181818;
  color: #fff;
}

.net-nav {
  display: inline-block;
}

.logoPic {
  margin-right: 1rem;
}

.net-nav li {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  margin-right: 1rem;
}

.row .aligntoright li {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  margin-right: 0;
  margin-left: 0.5rem;
}

a,
.btn-style {
  color: rgba(247, 247, 247, 0.568);
}

a:hover,
.btn-style:hover,
.list li:hover {
  color: rgba(247, 247, 247, 0.849);
  text-decoration: none;
}

h1 {
  font-size: 1.3rem;
  font-weight: 600;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.7rem;
}

.genre-btn {
  background-color: black;
  border: 1px solid rgba(247, 247, 247, 0.664);
  font-size: 0.7rem;
  width: 4rem;
  height: 1.6rem;
  text-align: left;
}

.chooseView {
  display: inline-block;
}

.aligntoright {
  margin-left: auto;
  margin-right: 0;
}

.icon-style {
  border: 0.1px solid rgba(247, 247, 247, 0.664);
  display: inline-block;
  width: 1.9rem;
  height: 1.5rem;
  border-radius: 1px;
}

.small-icon1,
.small-icon2 {
  position: relative;
}

.small-icon2 {
  left: 8px;
  bottom: 3px;
}

.small-icon1 {
  left: 8px;
  bottom: 3px;
}

.information-section {
  width: 70%;
  margin: auto;
}

.sm-icon {
  margin-right: 10px;
  margin-bottom: 10px;
}

.list {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  font-size: 0.6rem;
  list-style: none;
}

.list li {
  padding: 2px;
  list-style: none;
  color: rgba(247, 247, 247, 0.158);
}

.service-btn {
  border-radius: 1px;
  border: 1px solid rgba(247, 247, 247, 0.158);
}

.service-btn,
.copyright {
  font-size: 0.8rem;
  font-size: 0.6rem;
  padding: 3px;
  color: rgba(247, 247, 247, 0.158);
}
